@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 121, 100%, 22%;
        --on-primary: 0, 0%, 100%;
        --primary-container: 112, 100%, 69%;
        --on-primary-container: 120, 100%, 7%;
        --secondary: 101, 13%, 35%;
        --on-secondary: 0, 0%, 100%;
        --secondary-container: 98, 37%, 86%;
        --on-secondary-container: 106, 38%, 9%;
        --tertiary: 185, 30%, 32%;
        --on-tertiary: 0, 0%, 100%;
        --tertiary-container: 184, 60%, 84%;
        --on-tertiary-container: 184, 100%, 7%;
        --error: 0, 75%, 42%;
        --on-error: 0, 0%, 100%;
        --error-container: 6, 100%, 92%;
        --on-error-container: 358, 100%, 13%;
        --background: 69, 64%, 98%;
        --on-background: 90, 8%, 10%;
        --surface: 69, 41%, 97%;
        --on-surface: 90, 8%, 10%;
        --surface-variant: 83, 19%, 87%;
        --on-surface-variant: 93, 7%, 26%;
        --outline: 93, 5%, 45%;
        --outline-variant: 85, 10%, 76%;
        --shadow: 0, 0%, 0%;
        --scrim: 0, 0%, 0%;
        --inverse-surface: 90, 4%, 18%;
        --inverse-on-surface: 60, 18%, 93%;
        --inverse-primary: 123, 100%, 45%;
        --surface-dim: 60, 7%, 84%;
        --surface-bright: 69, 41%, 97%;
        --surface-container-lowest: 0, 0%, 100%;
        --surface-container-low: 60, 24%, 94%;
        --surface-container: 60, 15%, 92%;
        --surface-container-high: 69, 14%, 90%;
        --surface-container-highest: 69, 11%, 88%;
    }
    .dark {
        --primary: 123, 100%, 45%;
        --on-primary: 120, 100%, 11%;
        --primary-container: 121, 100%, 16%;
        --on-primary-container: 112, 100%, 69%;
        --secondary: 98, 19%, 75%;
        --on-secondary: 107, 21%, 17%;
        --secondary-container: 105, 15%, 25%;
        --on-secondary-container: 98, 37%, 86%;
        --tertiary: 184, 36%, 73%;
        --on-tertiary: 183, 100%, 11%;
        --tertiary-container: 184, 45%, 22%;
        --on-tertiary-container: 184, 60%, 84%;
        --error: 6, 100%, 84%;
        --on-error: 357, 100%, 21%;
        --error-container: 356, 100%, 29%;
        --on-error-container: 6, 100%, 84%;
        --background: 90, 8%, 10%;
        --on-background: 69, 11%, 88%;
        --surface: 90, 11%, 7%;
        --on-surface: 69, 11%, 88%;
        --surface-variant: 93, 7%, 26%;
        --on-surface-variant: 85, 10%, 76%;
        --outline: 90, 5%, 55%;
        --outline-variant: 93, 7%, 26%;
        --shadow: 0, 0%, 0%;
        --scrim: 0, 0%, 0%;
        --inverse-surface: 69, 11%, 88%;
        --inverse-on-surface: 90, 4%, 18%;
        --inverse-primary: 121, 100%, 22%;
        --surface-dim: 90, 11%, 7%;
        --surface-bright: 84, 5%, 22%;
        --surface-container-lowest: 90, 15%, 5%;
        --surface-container-low: 90, 8%, 10%;
        --surface-container: 90, 7%, 12%;
        --surface-container-high: 105, 5%, 16%;
        --surface-container-highest: 90, 4%, 20%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
